$color-primary: #1bc5bd;
$color-secondary: #005b96;
$color-grey: #cdcccc;

$color-font-dark: #011f4b;
$color-font-medium: #7e8299;
$color-font-light: #fff;

$color-background: #fff;
$color-background-dark: #f1fafe;