$color-primary: #1bc5bd;
$color-secondary: #005b96;
$color-grey: #cdcccc;

$color-font-dark: #011f4b;
$color-font-medium: #7e8299;
$color-font-light: #fff;

$color-background: #fff;
$color-background-dark: #f1fafe;
$color-border: #f3f6f9;


$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;

$buttonHeight: 2.2rem;