@use '../../style//theme.variables.scss';

.sidebar {
    padding: theme.$space-lg;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    a {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: theme.$space-sm;
        color: theme.$color-grey;
        &:visited, &:active {
            color: theme.$color-grey;
        }
        &.active {
            color: theme.$color-secondary;
        }
    }
    a.active {
        color: theme.$color-secondary;
    }
}